body {
  background-color: #006400;
}

header {
  background-color: #fffdd0;
}
footer {
  background-color: #aef5ff;
}

header {
  text-align: center;
}

p {
  color: #D2691E;
  font-style: italic;
}

img {
  width: 50%;
  height: auto;
  border: 5px solid #555;
}


ul{
  font-family: Gill Sans, sans-serif;
}
